*{
	box-sizing: border-box;
}
body{
    background: #F78812;
    margin-right: 300px;
	margin-left: 300px;
    margin-top: 70px;
	margin-bottom: 70px;
}
select{
    width: 39%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #aaa;
}
label {
    padding: 6px 0px 6px 0;
    display: inline-block;
  }
input[type=submit] {
    background-color: #007379;
    color: white;
    padding: 14px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}  
.input1{
    width: 62%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #aaa;
}
.input2{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #aaa;
}
.input3{
    width: 100%;
    padding: 4.4px;
    border-radius: 4px;
    border: 1px solid #aaa;
}
.date1{
    float: left;
    width: 25%;
    margin-top: 10px;
    border-radius: 4px;
}
.date2{
    float: left;
    width: 15%;
    margin-top: 10px;
    border-radius: 4px;
}
.check{
    float: left;
    width: 23%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.main {
    background-color: #FAEEE0;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.kolom1{
    float: left;
    width: 35%;
    margin-top: 10px;
}
.kolom2{
    float: left;
    width: 65%;
    margin-top: 10px;
}
.kolom21{
    float: left;
    width: 65%;
    margin-top: 15px;
}
.domain{
    width: 100%;
    content: "";
    display: table;
    clear: both;
}