html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#F78812, #b0c6ee);
}
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #474747;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login-box .user-box {
    position: relative;
}
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffd633;
    font-size: 12px;
}
.button{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 12px;
    border: 3px solid #ffd633;
    background-color: #333333;
    width: 100px;
    height: 40px;
    font-size: 15px;
    letter-spacing: 4px;
}
.button:hover{
    animation: pulsate 1.5s ease-in-out;
}
@keyframes pulsate{
    0%{
        box-shadow: 
            0 0 10px #ffff80,
            0 0 25px #ff9900;
    }
}
.x{
    padding: 10px;
}