*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.x{
    padding: 10px;
}
.wrapper{
    height: 100%;
    width: 100%;
    font-family: 'Merriweather', serif;
    background: linear-gradient(90deg, #c4a27c 1%, #666666 100%);
}
.x{
    padding: 10px;
}
.close{
    cursor: pointer;
}
.kosong{
    display: none;
}
.body-wrapper{
    padding: 0 32%;
}
.formbox{
    height: 85%;
    background-color: #dbc6ae;
    border: 3px black solid;
    padding: 20px 30px;
}
.formbox hr{
    margin-top: 20px;
}
.ld{
    padding-bottom: 12px;
    padding-top: 12px;
    display: flex;
}
.text{
    padding: 12px 0 8px 0;
}
.text h2{
    text-align: center;
}
.input1 {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    background-color: #f5efe9;
}  
.input2{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    background-color: #f5efe9;
}
.input3{
    width: 100%;
    height: 130px;
    border-radius: 3px;
    background-color: #f5efe9;
}
.row1{
    padding: 12px 0 5px 0;
    display: flex;
}
.t{
    padding-left: 35%;
}
.row2{
    display: flex;
}
.l5{
    width: 50%;
    padding-right: 10px;
}
.l6{
    width: 50%;
    padding-left: 10px;
}
.kotak{
    padding: 5px 0;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
}
.tombol{
    padding-top: 20px;
}
.submit {
    background-color: #00cff2;
    color: rgb(22, 22, 22);
    padding: 11px 25px;
    border: 1px solid #d7d7d7;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
}
.submit:hover {
    background-color: #66e8ff;
    box-shadow: 0 6px 9px rgba(19, 255, 2, 0.67);
    border: 1px solid #00ff26;
}
.submit2 {
    background-color: #f7feff;
    color: rgb(22, 22, 22);
    padding: 11px 25px;
    border: 1px solid #00d9ff;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
}
.submit2:hover {
    background-color: #ff1e1e9a;
    border: 1px solid black;
    box-shadow: 0 6px 9px rgba(255, 2, 2, 0.363);
}