body{
    margin: 0;
    padding:250px 300px;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(#F78812, #b0c6ee);
    color:#1a1510;
}
hr{
    margin: 30px;
}
a{
    text-decoration: none;
    background-color: #1a1510;
    color:#c4a27c;
    padding: 10px 20px;
}