.hf{
    background-color: #000000;
    width: 100%;
    height: 8%;
}
#f011{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
#f012{
    font-family: Arial, Helvetica, sans-serif;
    color: #ff471a;
}
#f013{
    font-family: Arial, Helvetica, sans-serif;
    color: #ff8c1a;
}
#f014{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff80;
}
.t02{
    background-color: #ffffe6;
    width: 100%;
    height: 400px;
}
.f021{
    font-family: Arial, Helvetica, sans-serif;
    color: #e62e00;
}
.t03{
    background-color: #333333;
    width: 100%;
    height: 700px;
}
#f031{
    color: #e62e00;
}
#f032{
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
#f033{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.f041{
    color: #ff9933;
}
.f042{
    font-family: Arial, Helvetica, sans-serif;
}