*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(41, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    color: rgb(241, 241, 241);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav_link{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.nav_link li{
    list-style: none;
}
.nav_link a{
    color: rgb(241, 241, 241);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}
.nav_link a:hover{
    color:red;
}
.d1{
    height: 400px;
    padding: 130px 200px ;
    background-color: #ffffe6;
}
.f1{
    color: #e62e00;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.f2{
    color: #e62e00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 10px;
}
.f3{
    text-align: center;
    color: #e62e00;
    font-size: 5vh;
    margin-bottom: 40px;
}
.tentang{
    background-color: #333333;
    padding: 35px 170px;
}
.h1{
    margin-bottom: 40px;
}
.h2{
    margin-top: 40px;
    margin-bottom: 80px;
}
.domain{
    display: flex;
}
.a1{
    width: 30%;
}
.a2{
    width: 70%;
    margin-left: 30px;
}
.f4{
    color: rgb(227, 227, 227);
    font-size: 6vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.f5{
    color: rgb(227, 227, 227);
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.button1{
    width: 100px;
    height: 50px;
    border-radius: 6%;
    border: 0;
    background-color: #fda042;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    text-decoration:none;
}
.skill{
    background-color: #ffffe6;
    padding: 35px 170px;
}
.f6{
    text-align: center;
    color: #e85d04;
    font-size: 5vh;
    margin-bottom: 40px;
}
.f7{
    font-size: 4vh;
    color: #bd0000;
    margin-bottom: 10px;
}
.f8{
    color: #333333;
    margin-bottom: 10px;
}
.teks{
    padding-left: 30px;
    width:60%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}
.card{
    display: flex; 
    width: 100%;
    height: 200px
}
.f9{
    text-align: center;
    color: #e85d04;
    font-size: 4vh;
    margin-bottom: 40px;
}
.f10{
    text-align: center;
    color: #e83204;
    font-size: 6vh;
    margin-top: 10px;
    margin-bottom: 10px;
}
.c{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    width: 50%;
}
.f11{
    text-align: center;
    color: orange;
    font-size: 5vh;
    margin-bottom: 40px;
}
.contact{
    padding: 35px 170px;
}
.cdomain{
    display: flex;
    height: 420px;
    margin-bottom: 40px;
}
.cd1{
    width: 45%;
}
.cd2{
    width: 55%;
}

.lc{
    display: flex;
    width: 70%;
    height: 31%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}
.icon{
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.l1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.label{
    padding-top: 20px;
}
.formbox{
    height: 80%;
    border-top : 3px black solid;
    border-bottom : 3px black solid;
    border-left : 3px black solid;
    border-right : 3px black solid;
    padding: 20px 30px;
    margin-top: 20px;
}
.ld{
    padding-bottom: 12px;
    padding-top: 12px;
    display: flex;
}
.lp{
    width: 50%;
    padding-right: 10px;
    
}
.lt{
    width: 50%;
    padding-left: 10px;
}
.lk{
    margin-top: 25px;
    margin-bottom: 25px;
}
.input1 {
    width: 100%;
    height: 30px;
    border-radius: 5px;
}  
.input2{
    width: 100%;
    height: 140px;
    border-radius: 5px;
    border-width: 2px;
}
.kirim{
    text-align: center;
    width: 100%;
    height: 20%;
    padding-top: 14px;
}
.button{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 25px;
    border: 3px solid #ffd633;
    background-color: #333333;
    width: 200px;
    height: 50px;
    font-size: large;
    letter-spacing: 4px;
}
.button:hover{
    animation: pulsate 1.5s ease-in-out;
}
@keyframes pulsate{
    0%{
        box-shadow: 
        0 0 10px #ffff80,
        0 0 25px #ff9900;
    }
}
footer{
    min-height: 8vh;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(41, 41, 41);
    color: rgb(241, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}